@import "tailwindcss";
@custom-variant dark (&:where(.dark, [data-theme=dark]) *);
/* Tu peux laisser tes styles perso (comme no-scrollbar) en dessous */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
.animate-scroll {
  animation: scrollUp 10s linear infinite;
}
