@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tu peux laisser tes styles perso (comme no-scrollbar) en dessous */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
